{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>URL</th>
                <th>Tag</th>
                <th>Date</th>
                <th>Estimated revenue</th>
                <th>Currency</th>
                <th>Ad impressions</th>
                <th>Ad eCPM</th>
                <th>Clicks</th>
                <th>Ad CTR</th>
            </tr>
        </thead>
        <tbody>
            {% for advert in adverts %}
                <tr>
                    <td>{{ advert.url }}</td>
                    <td>{{ advert.tag }}</td>
                    <td>{{ advert.dateStart|date('Y-m-d') }}</td>
                    <td>{{ advert.estimatedRevenue }}</td>
                    <td>{{ advert.currency }}</td>
                    <td>{{ advert.impressions }}</td>
                    <td>{{ advert.eCPM }}</td>
                    <td>{{ advert.clicks }}</td>
                    <td>{{ advert.CTR }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
